*{
    margin: 0px;
    padding: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.navigation-content{
    display: flex;
    justify-content: space-between;
    left: 50px ;
}
